* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  background-color: #fff;
  width: 27rem;
  height: 14rem;
  padding: 20px;
  font-size: 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgb(2, 7, 1, 0.7);
}
button {
  margin-top: 30px;
  width: 100%;
  background-color: brown;
  box-shadow: 0 4px 6px rgb(2, 7, 1, 0.7);
  color: #fff;
  border-radius: 6px;
  padding: 10px;
  border: none;
  font-size: 25px;
  display: block;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .box {
    width: 80%;
    font-size: 30px;
  }

  button {
    margin-top: 20px;
    font-size: 20px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .box {
    width: 70%;
    font-size: 15px;
  }

  button {
    margin-top: 15px;
    font-size: 10px;
  }
}
